/* FONTS */
    /* font-family: 'Bungee Outline', cursive;
    font-family: 'Kumar One Outline', cursive;
    font-family: 'Megrim', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Work Sans', sans-serif; */



/* GENERAL STYLING  */

ul, 
li, 
a, 
p,
h1, 
h2,
h3 {
    margin: 0;
    padding: 0;
}

/* NOT SO GENERAL STYLING  */

/* everything in JSX needs better class names */

.App {
  text-align: center;
}

html {
  background-color: black;
}

img {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid transparent;
}

.App h2 {
  text-transform: uppercase;
  align-self: center;
  margin-bottom: .2em;
  margin-top: .3em;
}

ul {
  list-style-type: none;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

li {
  list-style-type: none;
  display: grid;
  grid-template-rows: 1fr;
  gap: .5em;
}

.drink-list li {
  position: relative;
}

.overlay {
  background-color: black;
  border: 1px orange solid;
  /* position: absolute;
  top: auto; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 800px; */
  max-width: 70vw;
  padding: .5em;
  /* try playing around with height and max-height */
}

.drink-list img:hover,
.drink-list img:focus {
  border: 1px solid rgba(255, 59, 255, 0.6);
  box-shadow: -4px 4px 5px rgb(0, 171, 250), 4px 4px 5px rgb(0, 171, 250), 4px -4px 5px rgb(0, 171, 250), -4px -4px 5px rgb(0, 171, 250) ;
}

/* TESTING FONTS */

h1,
h2,
h3,
.footer-text {
      font-family: 'Megrim', cursive;
      color: rgb(0, 171, 250);
      /* text-shadow: -1px 3px 5px #ff3bff; */
      text-shadow: -1px 3px 5px #ff3bff, -10px 10px 35px #ff3bff;
}

h1 {
  padding: 1rem 0;
  font-size: 4.2em;
}


h2, 
h3 {
  font-size: 2.3em;
}

p {
  font-family: 'Megrim', cursive;
  color: #ffe9cd;
  font-weight: 800;
  /* text-shadow: -1px 3px 5px rgb(0, 171, 250); */
  font-size: 1.5em;
  text-shadow: orange 1px 1px 10px;
}

.form {
  margin: 2em 1em ;
  display: grid;
  gap: 1em;
}

/* popup???? */
.active {
  display: block;
}

.inactive {
  display: none;
}

/* .blur {
  filter: blur(1rem);
} */

.footer-text {
  margin: 1rem 0;
}



/* MEDIA QUERIES  */


@media (min-width: 550px) {
  .drink-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* margin: 1em; */
    gap: 1em;
  }
}

@media (min-width: 800px) {
  .drink-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  h1 {
    font-size: 5.3rem;
  }

  .overlay {
    max-width: 55vw;
  }

  .form {
  grid-template-columns: 1fr 1fr;
  padding: .8em;
  }
}

@media (min-width: 1000px) {
  .drink-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .overlay {
    max-width: 580px;
  }
}

@media (min-width: 1200px) {
  .drink-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}